/*loading*/

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

body.loading {
    background: url(../img/loading/11.jpg) no-repeat;
    background-size: cover;
}

body.loading #starsBox {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .5;
}

body.loading #starsBox span {
    display: inline-block;
    width: auto;
    position: absolute;
    border-radius: 100%;
    transition: 100s linear;
}

body.loading p {
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    transform: translateY(-50%);
    font-size: 40px;
    font-weight: 900;
    color: white;
    text-shadow: 0 0 50px black;
    text-transform: uppercase;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    letter-spacing: 5px;
}

body.loading p>span {
    display: block;
    font-size: 12px;
    color: #bdc3c7;
    margin-top: 30px;
    font-weight: 100;
    text-shadow: 0 0 50px black;
    letter-spacing: 3px;
}

body.loading p>span>a {
    font-weight: 700;
    text-decoration: none;
    color: #d64541;
    padding-bottom: 2px;
    border-bottom: 0px solid #d64541;
    transition: 0.5s;
}

body.loading p>span>a:hover {
    padding-bottom: 5px;
    border-bottom: 2px solid #d64541;
}

.IN {
    position: relative;
    top: 85%;
    z-index: 999;
}

.ZH {
    position: relative;
    top: -5%;
    left: -22%;
    z-index: 998;
}

.HK {
    position: relative;
    top: 43%;
    left: 36%;
    z-index: 998;
}

.MC {
    position: relative;
    top: 40%;
    left: 6%;
    z-index: 998;
}

img.hk,
img.mc {
    width: 7%;
}

img.zh {
    width: 14%;
}

img.ii {
    width: 4.5%;
}

img.hk:hover,
img.mc:hover,
img.zh:hover {
    -moz-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
}


/*laoding结束*/


/*index*/

@font-face {
    font-family: isocp;
    src: url(../fonts/isocp2__.ttf);
}

@font-face {
    font-family: CNM;
    src: url(../fonts/SourceHanSansCN-Medium.otf);
}

@font-face {
    font-family: FZYXJW;
    src: url(../fonts/FZYXJW.TTF);
}

@font-face {
    font-family: CNR;
    src: url(../fonts/SourceHanSansCN-Regular.otf);
}

.head {
    height: 3.5em;
}

.headlogo img {
    width: 100%;
    z-index: 600;
    position: relative;
    top: 18px;
    left: 4%;
}

ul li a {
    color: rgba(172, 133, 94, 1);
}

.cover {
    position: absolute;
    z-index: 1;
    top: 0;
}

.cover img {
    width: 100%;
}

#myTab {
    font-family: CNR;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    background: rgba(172, 133, 94, 1);
}

.carousel-indicators {
    margin-left: 43%;
}

.carousel-indicators .active {
    margin: 0 3px;
    width: 7px;
    height: 7px;
    background: rgb(226, 189, 130);
}

.nav>li>a {
    padding: 3px 15px;
}

.nav>li {
    margin: 0 10px !important;
}

.a:focus,
a:hover {
    color: #fff;
}

.nav-pills>li>a {
    border-radius: 20px;
}

.carousel-indicators li {
    margin: 0 3px;
    width: 7px;
    height: 7px;
    border: 0px solid rgb(226, 189, 130);
    background: #fff;
}

.carousel-control {
    z-index: 5;
}

.carousel-point {
    width: 100%;
}

.item .t1 {
    width: 35%;
    position: absolute;
    top: 12%;
    left: 7%;
    z-index: 999;
}

.commerce-banner img,
.footer_foot img {
    width: 100%;
}

.carousel-inner {
    overflow: visible;
}

.carousel-inner .item .carousel-inner-img1,
.carousel-inner .item .carousel-inner-img2,
.carousel-inner .item .carousel-inner-img3 {
    width: 100%;
}

.fl img {
    width: 100%;
}

.c1,
.c3 {
    cursor: pointer;
}

a.carousel-control {
    font-size: 6em;
    line-height: 7em;
    width: 10%;
}

.ht {
    position: absolute;
    z-index: 99;
    top: 14.8%;
    left: 12.2%;
    color: #fff;
}

.ht p {
    text-align: left;
}

.ht p.x-line {
    margin: 3px 10px;
    width: 20px;
    height: 33px;
    background: url(../img/index/x-line.png) no-repeat;
}

.ht p.isocp {
    font-size: 2.2em;
    letter-spacing: -2px;
    font-family: isocp;
    line-height: 60px;
    color: rgba(255, 255, 255, 1);
}

.ht p.isocp2 {
    margin-top: -0.8em;
}

.ht p.xg {
    font-size: 2.5em;
    font-family: FZYXJW;
    color: rgba(255, 255, 255, 0.7);
}

.ht p.CNM {
    font-size: 3.5em;
    font-family: CNM;
    line-height: 65px;
}

.ht p.FZYXJW {
	line-height: 25px;
    margin-top: 40px;
    font-size: 1.1em;
    font-family: FZYXJW;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.8);
}

.ht p.FZYXJW2 {
    margin-top: 2em;
}

.content {
    position: relative;
}

.ewm img {
    position: absolute;
    width: 70%;
    left: 30%;
    bottom: -12.8%;
}

.footer {
    margin-top:80px;
    /* margin-top: 6.9%; */
}

.i3 img {
    cursor: pointer;
}


/*index 结束*/


/*commerce*/

.commerce-banner,
.commerce-contents {
    width: 100%;
}

.commerce-contents img {
    width: 100%;
    padding: 1.5% 0;
}

.commerce-contents img.c_c7 {
    padding-bottom: 0;
}

.commerce-footer {
    margin-top: 0;
}